@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* Navbar Container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.458);
  padding: 1.5em; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  z-index: 1000;
  color: white;
}
.navbar_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.logo_navbar {
  height: 5em;
}
.navbar_options {
  display: flex;
  gap: 2em;
}
.hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 740px) {
  .navbar_div {
    padding: 0;
  }
  .logo_navbar {
    height: 4em;
  }
  .navbar_options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 112px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em;
    text-align: center;
    padding-top: 0;
  }
  .navbar_options.open {
    display: flex;
  }
  .hamburger {
    display: block;  
  }
}


/* Landing Page */
.landing_page {
  position: relative;
  background-image: url('/images/bg_main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.landing_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.landing_page_bg {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding-top: 9em;
}
.landing_page_heading {
  font-size: 10vmin;
  font-weight: bold;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 1em;
}
.people,
.robot {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
.people:hover,
.robot:hover {
  transform: scale(1.05);
}
.listener-video {
  width: 250px;
  height: auto;
  border-radius: 10px;
}
.talk img {
  width: 100%;
  height: auto;
  max-width: 180px;
}
.robot video {
  position: relative;
  bottom: -60px;
}
@media (max-width: 768px) {
  .image_container {
    flex-wrap: wrap;
  }
  .people,
  .robot {
    max-width: 45%;
  }
}
@media (max-width: 480px) {
  .image_container {
    flex-direction: row;
    gap: 1rem;
  }
  .people,
  .robot {
    max-width: 48%;
  }
}




/* How To Use */
.howToUseContainer {
  padding: 60px 20px;
  text-align: center;
  margin-top: 2em;
}
.howToUseLogo {
  font-weight: bolder;
  font-size: 2em;
  position: relative;
  top: .2em;
}
.howToUseFeatures {
  display: flex;
  justify-content: center;
  gap: 8em;
  flex-wrap: wrap;
}
.featureItemBlock {
  max-width: 300px;
  padding: 20px;
}
.featureItemTitle {
  font-size: 1.3rem;
  margin-top: 20px;
}
.featureItemDescription {
  font-size: .9rem;
}
.feature_img {
  border: 5px solid rgb(232, 199, 199);
  border-radius: 50%;

}


/* FAQs */
.wrapper {
  width: 100%;
}
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-header {
  padding-top: 50px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 8vmin;
}

/* FAQ Item Styling */
.faq-item {
  border-bottom: 1px solid #000000;
  padding: 10px 0;
  width: 50%;
}
.faq-question {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-answer {
  margin-top: 10px;
  font-size: 16px;
}
.arrow {
  font-size: 16px;
  margin-left: 10px;
}
.toggle-questions-btn {
  text-align: center;
  margin-top: 20px;
}
.toggle-questions-btn button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  opacity: 0.8;
}
.toggle-questions-btn button:hover {
  opacity: 1;
}